$primary-font: "Poppins", sans-serif;
$secondary-font: "Raleway", sans-serif;

$primary-color: #000000;
$secondary-color: #fff;
$third-color: #f4424b;
$fourth-color: #ec6b71;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;