// Fonts
$primary-font: "Poppins", sans-serif;
$secondary-font: "Raleway", sans-serif;

// Colors
$primary-color: #000000;
$secondary-color: #fff;
$third-color: #f4424b;
$fourth-color: #ec6b71;
$background-color: #1a1a1a;
$card-background-color: rgb(41, 41, 51);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;